.land{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    margin-top: 10vh;
    width: 100em;
    height: 90vh;
    background: #ececec;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}
.left{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boardContainer{
    display: block;
    width: 95%;
    height: 95%;
}